@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/indopak.ttf');
}

.arabic {
    font-family : Scheherazade;
}

.pre-line {
    white-space: pre-line;
}